.svn
.DS_Store
*.sbf
*.pyc
*.so
*.obj
*.swp

# windows binaries/project files
*.pdb
*.ilk
*.suo
*.exe
*.exe.manifest
*.pyd
*.pyd.manifest
*.sln.cache


.project
.pydevproject

build/.bakefile_gen.state
build/obj-*/

src/generated/
