.svn
.DS_Store
*.sbf
*.pyc
build/
*.so
*.obj
*.swp

# windows binaries/project files
*.pdb
*.ilk
*.suo
*.exe
*.exe.manifest
*.pyd
*.pyd.manifest


.project
.pydevproject

src/generated/*.sip
src/generated/sip_*.cpp
src/generated/sipAPI_*.h
src/generated/cache

sipargs.txt

