.svn
.DS_Store
*.sbf
*.pyc
build/
*.so
*.obj
*.swp

.siptemp.tmp
inputgperf.tmp

# windows binaries/project files
Thumbs.db
*.pdb
*.ilk
*.suo
*.exe
*.exe.manifest
*.pyd
*.pyd.manifest
*.exp
*.idb
*.lib



.project
.pydevproject

src/generated/*.sip
src/generated/sip_*.cpp
src/generated/sipAPI_*.h
src/generated/cache

sipargs.txt

